/* * {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.box {
    height: 18vmin;
    width: 18vmin;
    margin-left: 10px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn {

    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;

}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;

}

#msg {
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container {
    height: 20vmin;
}

.hide {
    display: none;
}

#msg {
    color: #6a5487;
} */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 50vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    height: 15vmin;
    width: 15vmin;
    margin-left: 10px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn,
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    margin-top: 1rem;
    /* Add some spacing between buttons */
}

#msg {
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container {
    height: 10vmin;
}

.hide {
    display: none;
}

@media screen and (max-width: 600px) {
    .game {
        height: 80vmin;
        width: 80vmin;
    }

    .box {
        height: 20vmin;
        width: 20vmin;
        font-size: 10vmin;
    }

    #reset-btn,
    #new-btn {
        font-size: 1.5rem;
    }

    #msg {
        font-size: 6vmin;
    }
}